<div class="container-fluid projetos">
    <h1>Projetos</h1>
    <article class="row projetos-content">
        <article class="col-md-3 projetos-itens">
            <h1>Biosapiens</h1>
            <img src="../../assets/img/biosapiens.png" alt="">
        </article>
        <article class="col-md-3 projetos-itens">
            <h1>Biosapiens</h1>
            <img src="" alt="">
        </article>
        <article class="col-md-3 projetos-itens">
            <h1>Biosapiens</h1>
            <img src="" alt="">
        </article>
        <article class="col-md-3 projetos-itens">
            <h1>Biosapiens</h1>
            <img src="" alt="">
        </article>
    </article>
</div>