<div class="container-fluid projetos">
    <h1 class="main-title">Experiências</h1>
    <article class="row projetos-content">
        <section class="col-12 col-md-12 col-lg-3 projetos-itens" id="integracoes">
            <h1>Integrações/Webservices</h1>    
                <div>
                <div class="saibamais" (click)="controlText('integracoes')">
                    <h2>Saiba mais</h2>
                    <i class="fa fa-long-arrow-down cor-seta" id="down-integracoes"></i>
                    <i class="fa fa-long-arrow-up cor-seta" style="display: none;" id="up-integracoes"></i>
                </div>
                <p id="integracoes-text" style="display: none;">No meu emprego atual, tive a oportunidade de atuar com integrações SOAP, onde realizei operações como consultas e envio de dados para outros sistemas. Além disso, fui responsável por preparar o sistema para receber dados externos e executar operações automatizadas com base nessas informações.</p>
            </div>
        </section>
        <section class="col-md-12 col-lg-3 projetos-itens" id="mobile">
            <h1>Desenvolvimento mobile</h1>
            <div>
                <div class="saibamais" (click)="controlText('mobile')">
                <h2>Saiba mais</h2>
                <i class="fa fa-long-arrow-down cor-seta" id="down-mobile"></i>
                <i class="fa fa-long-arrow-up cor-seta" style="display: none;" id="up-mobile"></i>
                </div>
                <p id="mobile-text" style="display: none;">Experiência no desenvolvimento de aplicações mobile, abrangendo tanto a criação de interfaces visuais quanto a implementação de lógicas de negócio e integração de comunicação entre sistemas.p>
            </div>
        </section>
        <section class="col-md-12 col-lg-3 projetos-itens" id="etiquetas">
            <h1>Codificação de etiquetas</h1>
            <div>
                <div class="saibamais" (click)="controlText('etiquetas')">
                <h2>Saiba mais</h2>
                <i class="fa fa-long-arrow-down cor-seta" id="down-etiquetas"></i>
                <i class="fa fa-long-arrow-up cor-seta" style="display: none;" id="up-etiquetas"></i>
                <p id="etiquetas-text" style="display: none;">Experiência na codificação de etiquetas dinâmicas, ajustando-as conforme os dados parametrizados. Atuei com linguagens de impressoras industriais, como Datamax e Zebra, para garantir a personalização e automação na impressão de etiquetas.</p>
                </div>
            </div>
        </section>
        <section class="col-md-12 col-lg-3 projetos-itens" id="fullstack">
            <h1>Full-stack</h1>
            <div>
                <div class="saibamais" (click)="controlText('fullstack')">
                <h2>Saiba mais</h2>
                <i class="fa fa-long-arrow-down cor-seta" id="down-fullstack"></i>
                <i class="fa fa-long-arrow-up cor-seta" style="display: none;" id="up-fullstack"></i>
                </div>
                <p id="fullstack-text" style="display: none;">Experiência em processos complexos de cadastro de dados, desenvolvendo tanto o front-end quanto o back-end, além de gerenciar a comunicação, validação e armazenamento eficiente desses dados.</p>
            </div>
        </section>
    </article>
</div>