<div class="container-fluid projetos">
    <h1 class="main-title">PROJETOS</h1>
    <article class="row projetos-content">
        <section class="col-12 col-md-12 col-lg-3 projetos-itens" id="biosapiens" (mouseleave)="retractImage('biosapiens')">
            <h1>Biosapiens</h1>    
                <img src="../../assets/img/biosapiens.png" class="project-images" id="biosapiens-img">
                <i class="fa fa-eye olho" id="biosapiens-eye" (mouseenter)="expandImage('biosapiens',0)" aria-hidden="true"></i>
                <div>
                <div class="saibamais" (click)="controlText('biosapiens')">
                    <h2>Saiba mais</h2>
                    <i class="fa fa-long-arrow-down" id="down-biosapiens"></i>
                    <i class="fa fa-long-arrow-up" style="display: none;" id="up-biosapiens"></i>
                </div>
                <p id="biosapiens-text">Um professora precisava de uma plataforma didática com os conteúdos que ela havia produzido para o seu TCC, fora isso queria utilizar a plataforma também para seus alunos aprenderem via questionários, então a pagina foi montada com um sistema de gameficacão para seus alunos.</p>
            </div>
        </section>
        <section class="col-md-12 col-lg-3 projetos-itens" id="qeru">
            <h1>QERU</h1>
            <img class="project-images" src="../../assets/img/qeru.png" (mouseleave)="retractImage('qeru')" id="qeru-img">
            <i class="fa fa-eye olho" id="qeru-eye" (mouseenter)="expandImage('qeru',1)" aria-hidden="true"></i>
            <div>
                <div class="saibamais" (click)="controlText('qeru')">
                <h2>Saiba mais</h2>
                <i class="fa fa-long-arrow-down" id="down-qeru"></i>
                <i class="fa fa-long-arrow-up" style="display: none;" id="up-qeru"></i>
                </div>
                <p id="qeru-text">a QERU é uma plataforma que já esta em sua fase final de desenvolvimento, nela eu aprimorei muito meus conceitos de Git e GitHub como versionar codigo,conhecimento de um framework, bibliotecas entre outros. A Plataforma tem com o objetivo de aproximar lojistas com compradores através de 
                    pedidos. </p>
            </div>
        </section>
        <section class="col-md-12 col-lg-3 projetos-itens" id="adolfo">
            <h1>Adolfo</h1>
            <img class="project-images" src="../../assets/img/adolfo.png" (mouseleave)="retractImage('adolfo')" id="adolfo-img">
            <i class="fa fa-eye olho" id="adolfo-eye" (mouseenter)="expandImage('adolfo',2)" aria-hidden="true"></i>
            <div>
                <div class="saibamais" (click)="controlText('adolfo')">
                <h2>Saiba mais</h2>
                <i class="fa fa-long-arrow-down" id="down-adolfo"></i>
                <i class="fa fa-long-arrow-up" style="display: none;" id="up-adolfo"></i>
                <p id="adolfo-text">A Adolfo é um e-commerce onde eu tive meus primeiros contatos com PHP puro e sistemas de estoque. Tambem tive um amplo avanço com o software de edição de imagens o Photoshop, todos as imagens deveriam passar por um tratamento de imagem e eu acabei ficando responsável por isso.</p>
                </div>
            </div>
        </section>
        <section class="col-md-12 col-lg-3 projetos-itens" id="ballebot">
            <h1>Balle Bot</h1>
            <img class="project-images" src="../../assets/img/balle-bot.png" (mouseleave)="retractImage('ballebot')" id="ballebot-img">
            <i class="fa fa-eye olho" id="ballebot-eye" (mouseenter)="expandImage('ballebot',3)" aria-hidden="true"></i>
            <div>
                <div class="saibamais" (click)="controlText('ballebot')">
                <h2>Saiba mais</h2>
                <i class="fa fa-long-arrow-down" id="down-ballebot"></i>
                <i class="fa fa-long-arrow-up" style="display: none;" id="up-ballebot"></i>
                </div>
                <p id="ballebot-text">Foi um dos meu primeiros projetos feitos por mim, nele eu contei com a video-aula da  <a href="https://www.youtube.com/user/RafaellaBallerini" target="_blank">Rafaella Ballerini</a>, este projeto embora muito simples foi muito importante para mim, afinal foi com a ajuda dele que consegui meu primeiro estagio e alem disso tive a base de conceito que precisava para desenvolver WEB.</p>
            </div>
        </section>
    </article>
</div>