

<div class="container-fluid slider d-flex align-items-center">
    <div class="header">
        <ul class="row justify-content-center"> <!-- Adicionado 'justify-content-center' para centralizar -->
            <li class="ancoraHover"><a href="#app-about-me">Sobre Mim</a></li>
            <li class="ancoraHover"><a href="#app-projetos">Experiências</a></li>
            <li class="ancoraHover"><a href="#app-contato">Contato</a></li>
        </ul>
    </div>
    
    <article class="text-banner">
        <div class="row">
            <h1 class="offset-1">Seja bem-vindo</h1>
        </div>
        <div class="row">
            <p class="col-sm-8">Meu nome é Talles e este é o meu <span><strong>Portfólio.</strong></span></p>
        </div>
    </article>
</div>