/* You can add global styles to this file, and also import other style files */

@keyframes blinkCursor{
    from {
        border-right-color: #ffffff;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0px;
        white-space: nowrap;
    }

    50% {
        white-space: wrap;
    }
    to {
        width: 700px;
        border-right-color: transparent;
    }
}

p,h1,ul,li {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    color: #ffffff;
}

.container {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 1000px;
    margin-left: 450px;
    padding-top: 30px;
    padding-left: 30px;
    height: 700px;
    position: absolute;
}

.container li,a {
    list-style-type: none;
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
}

.container a:hover {
    color: rgb(87, 25, 231);
    padding: 10px;
    text-decoration: none;
    border: #2600ff double 1px;
}

.container-fluid article {
    height: 1000px;
}

.slider {
    background-image: url('./assets/img/banner-city.jpg');
}

.text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding-left: 60px;
}

.text-banner h1 {
    font-size: 80px;
    padding-left: 30px;
}

.text-banner p {
    padding-left: 80px;
    font-size: 28px;
    border-right: #ffffff solid 2px;
    width: 600px;
    overflow: hidden;
    animation: blinkCursor 500ms steps(30) infinite normal, typing 4s steps(40) 1s normal both;
}

.text-banner span {
    color: #ffffff;
}

.about-me {
    background: linear-gradient(rgba(75, 14, 113, 1) 16.62%, rgba(17, 13, 20, 0.9) 85.61%);
}

.about-me article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about-me img {
    height: 80%;
    opacity: 90%;
}

.about-me aside {
    align-self: flex-start;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.about-me p {
    border-left: solid #ffffff;
    font-size: 20px;
    padding: 20px;
    width: 500px;
    white-space: wrap;
}

.projetos {
    background: linear-gradient(rgba(75, 14, 113, 0.9),rgba(25, 19, 30, 1));
}

#projetos-text {
    padding-top: 45px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}

.projetos h1 {
    text-align: center;
}

.projetos-content {
    padding-top: 150px;
}


.projetos img {
    align-items: center;
    max-width: 350px;
    height: 300px;
    opacity: 80%;
    object-fit: cover;
}

.olho {
    position: absolute;
    display: block;
    opacity: 80%;
    color: #ffffff;
    font-size: 40px;
    margin-top: 230px;
}

.projetos-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projetos-itens div {
    display: flex;
    gap: 20px;
    opacity: 80%;
}

.projetos-itens h1 {
    color: #ffffff;
}

.projetos-itens h2 {
    font-size: 27px;
    color: #ffffff;
}

.projetos-itens i {
    color: #ffffff;
    font-size: 32px;
}

.projetos-itens p {
    display: none;
    font-size: 22px;
}

.saibamais h2:hover,i:hover{
    text-decoration: underline;
}

.saibamais p {
    padding-bottom: 20px;
}

.projetos-itens a {
    font-size: 22px;
    text-decoration: underline;
}

/* CONTATO */

.contato {
    text-align: center;
    color: #ffffff;
    background: linear-gradient(rgba(25, 19, 30, 1),rgba(75, 14, 113, 0.9));
}

.contato img {
    float: right;
}

.contato article {
    height: 500px;
}

.contato article a:hover{
    text-decoration: none;
    color: #7742c5;
}

.contato article i {
    font-size: 60px;
}


.contato article span {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contato article span h2 {
    border-bottom: 1px solid #ffffff;
    width: 400px;
    font-size: 22px;
    padding: 10px;
    text-align: start;
}

.contact-inbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.contact-border{
    border-left: 1px solid #ffffff;
    padding: 30px;
    height: 200px;
}
