/* You can add global styles to this file, and also import other style files */


p,h1,ul,li {
    font-family: 'Inter';
    font-style: normal;
    color: #ffffff;
}

.container {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 1000px;
    margin-left: 450px;
    padding-top: 30px;
    padding-left: 30px;
    height: 700px;
    position: absolute;
}

.container li,a {
    list-style-type: none;
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
}

.container a:hover {
    color: rgb(87, 25, 231);
    padding: 10px;
    text-decoration: none;
    border: #2600ff double 1px;
}

.container-fluid article {
    height: 900px;
}

.slider {
    background-image: url('./assets/img/banner-city.jpg');
}

.text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding-left: 60px;
}

.text-banner h1 {
    font-size: 80px;
    padding-left: 30px;
}

.text-banner p {
    padding-left: 80px;
    font-size: 28px;
    border-right: #ffffff solid 2px;
    width: 600px;
    overflow: hidden;
    animation: blinkCursor 500ms steps(30) infinite normal, typing 4s steps(40) 1s normal both;
}

.text-banner span {
    color: #ffffff;
}

.about-me {
    background: linear-gradient(rgba(75, 14, 113, 1) 16.62%, rgba(17, 13, 20, 0.9) 85.61%);
}

.about-me article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about-me img {
    height: 80%;
    opacity: 90%;
}

.about-me aside {
    align-self: flex-start;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.about-me p {
    border-left: solid #ffffff;
    padding: 20px;
    width: 500px;
    white-space: wrap;
}

.projetos {
    background: linear-gradient(rgba(75, 14, 113, 0.9),rgba(25, 19, 30, 1));
}

.projetos h1 {
    text-align: center;
}

.projetos-content {
    padding-top: 300px;
}

.projetos img {
    align-items: center;
    max-width: 350px;
    height: 300px;
    opacity: 80%;
}

.projetos img:hover{
    opacity: 100%;
    max-width: 400px;
    height: 350px;
}

.projetos-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


@keyframes blinkCursor{
    from {
        border-right-color: #ffffff;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0px;
        white-space: nowrap;
    }

    50% {
        white-space: wrap;
    }
    to {
        width: 700px;
        border-right-color: transparent;
    }
}
