/* You can add global styles to this file, and also import other style files */

@keyframes blinkCursor{
    from {
        border-right-color: #ffffff;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0px;
        white-space: nowrap;
    }

    50% {
        white-space: wrap;
    }
    to {
        width: 700px;
        border-right-color: transparent;
    }
}

/* HEADER */

.header {
    margin-bottom: -70px;
    position: relative;
    text-align: center;
    z-index: 999;
}

p,h1,ul,li {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    color: #ffffff;
}

.container li,a {
    list-style-type: none;
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
}

.container-fluid h2 a:hover {
    color: rgb(87, 25, 231);
    padding: 10px;
    text-decoration: none;
    border: #2600ff double 1px;
}

.slider {
    background-image: url('./assets/img/banner-city.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
  }

.text-banner div h1 {
    font-size: 60px;
}

.text-banner div p {
    padding-left: 80px;
    font-size: 28px;
    border-right: #ffffff solid 2px;
    width: 600px;
    overflow: hidden;
    animation: blinkCursor 500ms steps(30) infinite normal, typing 4s steps(40) 1s normal both;
}

.about-me {
    background: linear-gradient(rgba(75, 14, 113, 1) 16.62%, rgba(17, 13, 20, 0.9) 85.61%);
    text-align: center;
}


.about-me img {
    max-width: 400px;
    opacity: 80%;
    margin: 20px;
}


.about-me p {
    border-left: solid #ffffff;
    font-size: 20px;
    padding: 20px;
}

.projetos {
    background: linear-gradient(rgba(75, 14, 113, 0.9),rgba(25, 19, 30, 1));
}

.main-title {
    padding-top: 30px;
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.projetos h1 {
    text-align: center;
}

.projetos-content {
    padding-top: 150px;
}


.projetos img {
    max-width: 350px;
    height: 300px;
    opacity: 80%;
    object-fit: cover;
}

.olho {
    position: absolute;
    display: block;
    opacity: 80%;
    color: #ffffff;
    font-size: 40px;
    margin-top: 230px;
}

.projetos-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projetos-itens div {
    display: flex;
    gap: 20px;
    opacity: 80%;
}

.projetos-itens h1 {
    color: #ffffff;
}

.projetos-itens h2 {
    font-size: 27px;
    color: #ffffff;
}

.projetos-itens i {
    color: #ffffff;
    font-size: 32px;
}

.projetos-itens p {
    display: none;
    font-size: 22px;
}

.saibamais h2:hover,i:hover{
    text-decoration: underline;
}

.saibamais p {
    padding-bottom: 20px;
}

.projetos-itens a {
    font-size: 22px;
    text-decoration: underline;
}

/* CONTATO */

.contato {
    text-align: center;
    color: #ffffff;
    background: linear-gradient(rgba(25, 19, 30, 1),rgba(75, 14, 113, 0.9));
    padding-top: 200px;
}

.contato img {
    height: 400px;
}

.contato h1 {
    padding-top: 300px;
    padding-bottom: 250px;
}

.contato article span h2 a:hover{
    text-decoration: none;
    color: #7742c5;
}

.contato article i {
    font-size: 60px;
}


.contato article span {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contato article span h2 {
    border-bottom: 1px solid #ffffff;
    width: 400px;
    font-size: 22px;
    padding: 10px;
    text-align: start;
}


.contact-border{
    border-left: 1px solid #ffffff;
    padding: 30px;
    height: 200px;
}


@media (max-width: 768px) {

    .header {
        display: none;
    }

    .text-banner h1 {
        font-size: 40px !important;
        text-align: center;
    }

    .text-banner p {
        font-size: 20px;
        margin: 20px;
    }


    .about-me p {
      border: none;
      font-size: 16px;
      padding: 0px;
    }
    
    .contact-border {
        border: none;
        padding: 0px;
      }
      
      .contato article h2{
        text-align: center !important; 
      }
    

      .contato article span h2,a {
        font-size: 16px !important;     
      }

      .contato article span i {
        font-size: 42px;
      }

      .contato img {
        height: 350px;
        object-fit: cover;
    }

      .olho {
        display: none;
      }

      .projetos img {
        max-width: 250px;
        height: 300px;
        opacity: 80%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main-title {
        font-size: 30px;
    }
      
  }